Base/
BoosterPack1/
Paragames/
UIfor2K/
UIfor4K/
Info/BaseLocale.info
Info/BoosterPack1.info
Info/LevelEd.info
Info/Locale_UK.info
Info/Locale_DE.info
Info/Locale_ES.info
Info/Locale_FR.info
Info/Locale_HU.info
Info/Locale_IT.info
Info/Locale_PL.info
Info/Locale_RU.info
Info/Locale_US.info
Info/Locale_ZH.info
Info/MIRAGE.info
Info/Paragames.info
Info/ReColor.info
Info/Locale_DE.info
Info/UIRescaleX2.info
Info/UIfor2K.info
Info/UIfor4K.info
Info/Wintermod.info
Locale/
MIRAGE/
ReColor/
UIRescaleX2/
Wintermod/
leveled/
ursrel_data.txt
